body{
    margin: 0;
}
.nav-bar{
    background-color: blanchedalmond;
}

.menu-item li{
    list-style-type: none;
    float: left;
}
li a{
    text-decoration: none;
    display: block;
    background-color: blueviolet;
    width: 100%;
    padding: 10px;
    
}
li{
    margin:0 20px ;
}
